Debug/
Release/
.vscode/
.vs/
*.log
*.obj
*.pdb
*.tlog
*.exe
*.ncb
*.plg
*.pch
*.idb
*.exp
*.aps
*.opt
*.sdf
*.ipch
GPATH
GRTAGS
GSYMS
GTAGS
HTML/

~*.*
Build/
build/
/tags
.*.swp
*.autosave
.DS_Store
